{% extends 'admin_back/base.html' %}
{% block content %}

{% block styles %}
    {{ block.super }}
    {% load static %}
<link rel="stylesheet" href="{% static 'admin_back/dashboard.css' %}" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
{% endblock %}

<!-- Title bar Dashboard -->
<div class="container" style="padding: 15px 0;">
    <a style="text-align: center;"><H1>Dashboard</H1></a>
</div>

{#    <nav class="navbar navbar-light bg-light">#}
{#    </nav>#}
<!-- Card view -->

<div class="container" id="dashboard">
    <div class="row justify-content-center">
        <div class="col-md-4">
         <div class="card mx-auto text-light" style="width:70%; height: 110%;" >
             <a href="/admin/create_survey/">
             <img class="card-img-top" src="{% static 'admin_back/assets/HuskyIcon_OneColor_Gold.png'%}" alt="Card image" style="width:100%">
             </a>
             <div class="card-body">
             <h4 class="card-title">Create Survey</h4>
             <p class="card-text">Start here to create a new survey and add yes/no questions.<br><br></p>
             <a href="/admin/create_survey/" class="btn btn-warning font-weight-bold" style="position: absolute; bottom: 0; margin-bottom: 20px; left: 50%; transform: translate(-50%);">Create Survey</a>
             </div>
         </div>
        </div>

        <div class="col-md-4">
         <div class="card mx-auto text-light" style="width:70%; height: 110%;">
             <a href="/admin/manage_survey/">
            <img class="card-img-top" src="{% static 'admin_back/assets/HuskyIcon_OneColor_Gold.png'%}" alt="Card image" style="width:100%">
            </a>
             <div class="card-body">
            <h4 class="card-title">Manage and Launch Surveys</h4>
            <p class="card-text">View, edit and launch all surveys and questions.<br></p>
            <a href="/admin/manage_survey/" class="btn btn-warning font-weight-bold" style="position: absolute; bottom: 0; margin-bottom: 20px; left: 50%; transform: translate(-50%);">Manage/Launch</a>
            </div>
         </div>
        </div>

        <div class="col-md-4">
         <div class="card mx-auto text-light" style="width:70%; height: 110%;">
             <a href="/admin/results/">
            <img class="card-img-top" src="{% static 'admin_back/assets/HuskyIcon_OneColor_Gold.png'%}" alt="Card image" style="width:100%">
            </a>
             <div class="card-body">
            <h4 class="card-title">View Results</h4>
            <p class="card-text">Check yes, no, and total votes for all surveys.<br></p>
            <a href="/admin/results/" class="btn btn-warning font-weight-bold" style="position: absolute; bottom: 0; margin-bottom: 20px; left: 50%; transform: translate(-50%);">View Results</a>
            </div>
         </div>
        </div>
    </div>
</div>
{% endblock %}