{% extends 'admin_back/noHeaderBase.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
<link rel="stylesheet" href="{% static 'admin_back/surveyPages.css' %}" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block content %}

<header class="w3-container w3-center w3-padding-32">
        <h1><b>{{ survey_name }}</b></h1>
    </header>

         {% for s in detail %}
<!--             {%if s.survey_id == survey_id %}-->
                {%if s.id == question_id %}
                <form method= "post">
                {% csrf_token %}
                    <div class="w3-container w3-center w3-padding-32 padding-80 center-question">
                        <h2 class="question-text">{{ s.text }}</h2>
                    </div>
                    <input type="hidden" value="{{ s.id }}" name="qid"/>
                    <input type="hidden" value="{{ s.text }}" name="qtext"/>
                    <input type="text" name="rfid-input" class="form-row rfid-input" autofocus="autofocus" tabindex=1>
                    <input type="submit" class="btn" value= "RFID" name="rfid-btn" style="visibility: hidden"/>
                    <div class="row row-justify-content-center button-container">
                        <div class="col-sm-6" style="text-align: center">
                            <input type="submit" class="btn btn-danger btn-xl" value= "No" name="no"/>
                        </div>
                        <div class="col-sm-6" style="text-align: center">
                            <input type="submit" class="btn btn-success btn-xl" value= "Yes" name="yes"/>
                        </div>
                    </div>
                </form>
                {% endif %}
<!--             {% endif %}-->

       {% endfor %}
<footer>
    <strong>RFID reader not working?</strong> Try <a href="javascript:window.location.href=window.location.href">refreshing</a> the page.
</footer>
{% endblock %}
