{% extends 'admin_back/base.html' %}


{% block content %}

<!--<head>-->
<!--        <meta http-equiv="refresh" content="3;url=http://127.0.0.1:8000/admin/take_survey/{{ survey_id }}" />-->
<!--    </head>-->
<header class="w3-container w3-center w3-padding-32">
        <h1><b>{{ survey_name }}</b></h1>
    </header>

<form method= "post">
                {% csrf_token %}
                    <div class="w3-container w3-center w3-padding-32" id>
                        <h2 class="question-text">Thank you for completing our survey!</h2>
                        <h3 style="padding: 30px 0px;">Restarting survey in <div id="counter">10</div> seconds</h3>

                        <script>
                            setInterval(function() {
                                var div = document.querySelector("#counter");
                                var count = div.textContent * 1 - 1;
                                div.textContent = count;
                                if (count <= 0) {
                                     window.location.replace("http://127.0.0.1:8000/admin/take_survey/{{ survey_id }}");
                                }
                             }, 1000);
                        </script>
                    </div>
                    <div class="row row-justify-content-center button-container">
                        <div class="col-sm-6" style="text-align: center">
                            <input type="hidden" class="btn btn-danger btn-xl" value= "No" name="no"/>
                        </div>
                        <div class="col-sm-6" style="text-align: center">
                            <input type="submit" class="btn btn-success btn-xl" value= "Skip" name="start"/>
                        </div>
                    </div>
                </form>



{% endblock %}