{% extends 'admin_back/base.html' %}


{% block content %}
    <a style="text-align: center; padding: 10px"><H1>Manage/Launch Surveys</H1></a>
    <a style="text-align: center; padding: 10px">
        <h4 id="rifd-label">RFID Identifier:</h4>
        <form method="POST">
            {% csrf_token %}
            <input id="rfid-input" name="rfid-input" type="text">
        </form>
    </a>
    <div class="container" align="center" id=manage-survey">
        <strong>*Only one survey can be active at a time to launch</strong><br><br>
        <table align="center" border="1px solid black" cellpadding="10px" style="font-size: small">
            <tr>
                <th>Active</th>
                <th>Survey Name</th>
                <th>Edit Survey</th>
                <th>Delete Survey</th>
                <th>Launch Survey</th>
            </tr>
            <tr>
                {% for s in surveys %}
                    <form method="POST" name="{{ s.title }}" id="{{ s.title }}">
                        {% csrf_token %}
                               <td style="text-align: center"> <input type="submit" value="   " id="{{ s.title }}-active" name="active"
                                       style="{% if s.state == 1 %} background-color: #ffc107 {% endif %}"/> </td>
                                <td>{{ s.title }}</td>
                                <input type="hidden" value="{{ s.id }}" name="sid"/>
                                <td style="text-align: center"><input type="submit" class="btn btn-warning" value="Edit" name="edit"
                                       id="{{ s.title }}-edit" style="font-size: small"></td>
                                <td><input type="submit" class="btn btn-warning"
                                           onclick="return confirm('Are you sure you want to delete this survey? This action cannot be undone.')"
                                           value="Delete Survey" name="delete"
                                       id="{{ s.title }}-delete" style="font-size: small"></td>
                                <td><input type="submit" class="btn btn-warning " value="Launch Survey" name="launch"
                                       id="{{ s.title }}-launch"
                                       style="{% if s.state == 0 %} visibility: hidden {% endif %}; font-size: small"></td>
                    </form>
                </tr>
                {% endfor %}

            <div id="result"></div>
        </table>
        <br>
        <br/>
        <button type="button" class="btn btn-warning" onclick="window.location.href = '/admin/create_survey/'">Create
            New Survey
        </button>
    </div>
{% endblock %}