{% extends 'admin_back/base.html' %}

{% block content %}
    <div style="padding: 150px 0; text-align: center">
        <h1 style="margin-bottom: 10px">Forgot Password</h1>
        <div>
            <p>Please enter your email address below and we will send you information to change your
                password.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <script src='https://www.google.com/recaptcha/api.js'></script>

                <div class="g-recaptcha" style="display: inline-block"
                     data-sitekey="6LeGC1EaAAAAAOJfU0WMwwIJpzNeeIk2bWdiL5l5" tabindex=3></div>

                <br>
                <input type="submit" class="btn btn-warning" value="Reset">
                <a href="http://127.0.0.1:8000/admin/" style="margin-left: 130px">Return to Login</a>
            </form>

        </div>
    </div>

{% endblock %}