.wrapper{
    background-color: black;
    display: flex;
}
.top-banner{
    display: table-cell;
    padding: 5px;
    color: rgb(252,206,1);
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    overflow: auto;
}
.top-banner:not(.title):hover{
    color: rgb(224 168 0);
}
.top-banner-title{
    display: table-cell;
    padding: 5px;
    color: rgb(252,206,1);
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    overflow: auto;
}
.logo{
    width: 275px;
}
input{
    font-size: 20px;
}
.button{
    font-size: 20px;
    color: white;
    background-color: rgb(0,123,255);
    border: rgb(0,123,255) 2px;
    transition: 0.3s;
    width: 245px;
    }
.button:hover {
    color: white;
    background-color: rgb(0,105,217);
    border: rgb(0,98,204) 2px;
    text-decoration: underline;
}
input{
    border: solid black 2px;
}
.welcome{
    margin-top: 20px;
    font-size: 40px;
}
.text{
    margin-top: 10px;
    font-size: 20px;
}
.login{
    margin-top: 20px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.btn-xl {
  padding: 20px 20px !important;
  font-size: 50px !important;
  border-radius: 10px !important;
  width: 50%;
}

.question-text {
  color: black;
  font-size: 50px;
}

#dashboard {
  margin-bottom: 120px;
}

#dashboard .card{
  border-width: 5px !important;
  background-color: #191b1d !important;
  border-radius: 10px !important;
  box-shadow: 8px 8px 5px #00000059;
}

.padding-80{
  padding: 0.01em 80px !important;
}

.button-container{
  position: fixed;
  bottom: 10%;
  width: 100%
}

.center-question{
  margin-top: auto;
  margin-bottom: auto;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
}
